@import '../../../styles/mixins/button.mixin.scss';
@import "../../App.scss";

.is-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-width: 240px;
	margin: 0;
	padding: calc(5px + .3vw) calc(9px + .6vw);
	border: 0;
	outline: 0;
	line-height: 1.15;
	border-radius: 8px;
	transition: .2s all;

	.is-button-text {
		font-size: inherit;
		font-weight: 600;
		flex: 1;

		&.align {
			&-center {
				text-align: center;
			}
			&-left {
				text-align: left;
			}
			&-right {
				text-align: right;
			}
		}
	}

	&:not(.disabled) {
		cursor: pointer;

		&.theme-default {
			&.type-standard {
				@include button-standard (
					var(--default-color-default), 
					var(--default-color-default-light10), 
					var(--default-color-default-inverse)
				);
			}
			&.type-outlined {
				@include button-outlined (
					var(--default-color-default), 
					var(--default-color-default-light10), 
					var(--default-color-default-inverse)
				);
			}
			&.type-transparent {
				@include button-transparent (
					var(--default-color-default), 
					var(--default-color-default-light10), 
					var(--default-color-default-inverse)
				);
			}
		}

		&.theme-primary {
			&.type-standard {
				@include button-standard (
					var(--default-color-primary), 
					var(--default-color-primary-light10), 
					var(--default-color-primary-inverse)
				);
			}
			&.type-outlined {
				@include button-outlined (
					var(--default-color-primary), 
					var(--default-color-primary-light10), 
					var(--default-color-primary-inverse)
				);
			}
			&.type-transparent {
				@include button-transparent (
					var(--default-color-primary), 
					var(--default-color-primary-light10), 
					var(--default-color-primary-inverse)
				);
			}
		}

		&.theme-secondary {
			&.type-standard {
				@include button-standard (
					var(--default-color-secondary), 
					var(--default-color-secondary-light10), 
					var(--default-color-secondary-inverse)
				);
			}
			&.type-outlined {
				@include button-outlined (
					var(--default-color-secondary), 
					var(--default-color-secondary-light10), 
					var(--default-color-secondary-inverse)
				);
			}
			&.type-transparent {
				@include button-transparent (
					var(--default-color-secondary), 
					var(--default-color-secondary-light10), 
					var(--default-color-secondary-inverse)
				);
			}
		}

		&.theme-success {
			&.type-standard {
				@include button-standard (
					var(--default-color-success), 
					var(--default-color-success-light10), 
					var(--default-color-success-inverse)
				);
			}
			&.type-outlined {
				@include button-outlined (
					var(--default-color-success), 
					var(--default-color-success-light10), 
					var(--default-color-success-inverse)
				);
			}
			&.type-transparent {
				@include button-transparent (
					var(--default-color-success), 
					var(--default-color-success-light10), 
					var(--default-color-success-inverse)
				);
			}
		}

		&.theme-danger {
			&.type-standard {
				@include button-standard (
					var(--default-color-danger), 
					var(--default-color-danger-light10), 
					var(--default-color-danger-inverse)
				);
			}
			&.type-outlined {
				@include button-outlined (
					var(--default-color-danger), 
					var(--default-color-danger-light10), 
					var(--default-color-danger-inverse)
				);
			}
			&.type-transparent {
				@include button-transparent (
					var(--default-color-danger), 
					var(--default-color-danger-light10), 
					var(--default-color-danger-inverse)
				);
			}
		}

		&.theme-warning {
			&.type-standard {
				@include button-standard (
					var(--default-color-warning), 
					var(--default-color-warning-light10), 
					var(--default-color-warning-inverse)
				);
			}
			&.type-outlined {
				@include button-outlined (
					var(--default-color-warning), 
					var(--default-color-warning-light10), 
					var(--default-color-warning-inverse)
				);
			}
			&.type-transparent {
				@include button-transparent (
					var(--default-color-warning), 
					var(--default-color-warning-light10), 
					var(--default-color-warning-inverse)
				);
			}
		}

		&.theme-info {
			&.type-standard {
				@include button-standard (
					var(--default-color-info), 
					var(--default-color-info-light10), 
					var(--default-color-info-inverse)
				);
			}
			&.type-outlined {
				@include button-outlined (
					var(--default-color-info), 
					var(--default-color-info-light10), 
					var(--default-color-info-inverse)
				);
			}
			&.type-transparent {
				@include button-transparent (
					var(--default-color-info), 
					var(--default-color-info-light10), 
					var(--default-color-info-inverse)
				);
			}
		}

		&.theme-muted {
			&.type-standard {
				@include button-standard (
					var(--default-color-muted), 
					var(--default-color-muted-light10), 
					var(--default-color-muted-inverse)
				);
			}
			&.type-outlined {
				@include button-outlined (
					var(--default-color-muted), 
					var(--default-color-muted-light10), 
					var(--default-color-muted-inverse)
				);
			}
			&.type-transparent {
				@include button-transparent (
					var(--default-color-muted), 
					var(--default-color-muted-light10), 
					var(--default-color-muted-inverse)
				);
			}
		}
	}

	&.disabled {
		cursor: no-drop;
		cursor: not-allowed;
		color: #777C;
		background-color: #7772;
	}
}


