@import '../../../styles/mixins/button.mixin.scss';
@import "../../App.scss";

.is-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: calc(2px + .2vw);
	min-width: 240px;
	margin: 0;
	padding: calc(5px + .3vw) calc(9px + .6vw);
	border: 0;
	outline: 0;
	line-height: 1.15;
	border-radius: 8px;
	transition: .2s all;

	.is-button-text {
		font-size: inherit;
		font-weight: 600;
		flex: 1;

		&.align {
			&-center {
				text-align: center;
			}
			&-left {
				text-align: left;
			}
			&-right {
				text-align: right;
			}
		}
	}

	&:not(.disabled) {
		cursor: pointer;

		@each $theme in $themes {
			&.theme-#{$theme} {
				@each $type in $types {
					&.type-#{$type} {
						@include button-mixin (
							#{$type},
							var(--is-color-#{$theme}), 
							var(--is-color-#{$theme}-light10), 
							var(--is-color-#{$theme}-inverse)
						);
					}
				}
			}
		}
	}

	&.disabled {
		cursor: no-drop;
		cursor: not-allowed;
		color: #777C;
		background-color: #7772;
	}
}
