
:root {
	--default-color-default: global #00695c;
	--default-color-primary: global #4285F4;
	--default-color-secondary: global #aa66cc;
	--default-color-success: global #00C851;
	--default-color-danger: global #ff4444;
	--default-color-info: global #33b5e5;
	--default-color-warning: global #ffbb33;
}