@mixin button-standard ($bg-color, $bg-color-hover, $fr-color) {
	background-color: $bg-color;
	color: $fr-color;

	&:hover,
	&:focus {
		background-color: $bg-color-hover;
		color: $fr-color;
	}
}

@mixin button-outlined ($bg-color, $bg-color-hover, $fr-color) {
	color: $bg-color;
	background-color: $fr-color;
	border: 1px solid $bg-color;

	&:hover,
	&:focus {
		background-color: $bg-color-hover;
		color: $fr-color;
	}
}

@mixin button-transparent ($bg-color, $bg-color-hover, $fr-color) {
	color: #777A;
	background-color: transparent;

	&:hover,
	&:focus {
		color: $bg-color-hover;
	}
}